.footer{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
}
.footer-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer img{
    width: 120px;
}
.footer-icon-medium{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}