.header{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 10% 10px 10%;
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
