.header{
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
.header-left button{
  margin-right: 20px;
}