.history{
    font-size: 15px;
    margin-top: 25px;
}
.history h1{
    font-size: 25px;
    text-align: center;
}
.history-all{
    background-color: rgba(164, 189, 180, 0);
    padding: 40px;
}
.history-each-prediction{
    white-space: break-spaces;
}